body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("list.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0%;
    background-position: center;
    background-repeat: no-repeat;
}

table {
    width: 100%;
  }

  .input{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
  }
  
  mat-form-field{
    row-gap: -80px;
    margin-bottom: 0px;
    margin-left: 52px;
    margin-right: 32px;
  }